files:
  "/etc/docker/daemon.json":
    mode: "000644"
    owner: root
    group: root
    content: |
      {
        "ipv6": true,
        "fixed-cidr-v6": "2001:db8:1::/64",
        "experimental": true,
        "ip6tables": true,
        "log-driver": "local",
        "log-opts": {
          "max-size": "10m",
          "max-file": "5"
        }
      }

commands:
  01_restart_docker:
    command: "systemctl restart docker"